[package]
name = "ragged-buffer"
version = "0.3.4"
edition = "2021"
authors = ["Clemens Winter <clemenswinter1@gmail.com>"]
readme = "README.md"

[lib]
name = "ragged_buffer"
crate-type = ["cdylib"]

[dependencies]
numpy = "0.15"
pyo3 = { version = "0.15", features = ["extension-module"] }

[profile.release]
debug = true